
.customTimeline{ // 自定义 首页-时间线样式
  :global{
    .ant-timeline-item-last{
      padding: 0;
      >.ant-timeline-item-content {
        min-height: 21px;
        padding: 0 !important;
      }
    }
  }
}

.customCollapse{// 自定义 首页-下拉菜单样式
  :global{ 
    .ant-collapse-content{
      > .ant-collapse-content-box {
        padding:0px 16px;
      }
    } 
  }
}
.customAvatar{// 自定义 首页-下拉菜单样式
  &:global(.ant-avatar-lg){ 
    width:80px;
    height:80px;
    line-height: 80px;
    text-align: center;
  }
}

.imgBlur{
  filter: blur(5px);
  text-align: center;
}

.firstTitle{
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.contentTxt{
  color: #888;
  font-size: 16px;
  text-align: center;
}

.secondTitle{
  font-size: 20px;
  font-weight: bolder;
  margin: 0 0 8px 0;
  color: #6A5ACD;
}

.thirdTitle{
  font-weight: bolder;
  margin: 4px 0;
}
